.contents1 {
  width: 241px;
  position: relative;
  font-size: 52px;
  font-family: var(--font-biz-udgothic);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  height: 58px;
}
