body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-biz-udgothic: "BIZ UDGothic";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #1d3445;
}